<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">-->
</head>
<body>

<mat-sidenav-container class="container">
    <mat-sidenav class="user-list" mode="side" opened>
        <mat-card>
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon matListIcon>forum</mat-icon>
                    </ng-template>
                    <mat-list class="conversations">
                        <mat-list-item *ngFor="let safetyDriver of safetyDrivers" (click)="selectConversation(safetyDriver.user)">
                            <mat-icon matListIcon>forum</mat-icon>
                            <p>{{safetyDriver.user.firstName}} {{safetyDriver.user.lastName}}</p>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </mat-sidenav>

    <section class="empty-conversation" *ngIf="!selectedUser">
        <h1 class="mat-display-1">Select a conversation from the left to start chatting</h1>
    </section>

    <section *ngIf="selectedUser">
        <div class="selected-conversation">
            <div class="mat-typography conversation-header">
                <h2>
                    <mat-icon>forum</mat-icon>
                    Chat mit {{selectedUser.firstName}} {{selectedUser.lastName}}
                </h2>
                <!--<p>-->
                    <!--<mat-icon>account_circle</mat-icon>-->
                    <!--Members-->
                <!--</p>-->
            </div>
            <mat-divider></mat-divider>
            <mat-list dense class="conversation-history mat-typography">
                <mat-list-item *ngFor="let message of messages; index as i" [dir]="message.sender.id === identity.id ? 'rtl' : 'ltr'">
                    <!--<img *ngIf="message.text != null" matListAvatar matTooltip="{{message.sender}}" src="https://randomuser.me/api/portraits/thumb/lego/{{i}}.jpg"/>-->
                    <img matListAvatar matTooltip="{{message.sender.firstName}}" src="{{message.sender.imageUrl}}"/>
                    <!--<p *ngIf="message.text != null" [dir]="'ltr'">{{message.text}}</p>-->
                    <p [dir]="'ltr'">{{message.text}}</p>
                    <!--<p *ngIf="event.type == 'member:joined'" class="text-center">-->
                        <!--<b>{{selectedUser.members[event.from].user.name}}</b> has joined the conversation</p>-->
                </mat-list-item>
            </mat-list>

            <mat-divider class="devider--input"></mat-divider>
            <div class="conversation-input">

                <mat-form-field class="full-width">
                    <!--<input matInput placeholder="Start chatting..." name="message" [(ngModel)]="message" (keydown)="onKeydown($event, message)">-->
                    <input matInput name="message" [(ngModel)]="message" (keydown)="onKeydown($event, message)">
                    <mat-icon matSuffix (click)="sendMessage(message)">send</mat-icon>
                </mat-form-field>

            </div>
        </div>
    </section>
<!--</div>-->
</mat-sidenav-container>


</body>
</html>
