.mapViewContainer {
  position: relative;
  display: flex;
  flex: 1;

  .resetButton {
    position: absolute;
    right: 50px;
    bottom: 50px;
    box-shadow: 0px 0px 15px #343434;
  }
}

.mapView {
  display: flex;
  flex: 1;

  .carMarker {
    z-index: 9999999;
    cursor: pointer;
  }
}
