<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.creation.text1}">
            Your SafetyDriver account has been created, please click on the URL below to access it:
        </p>
        <p>
            Your password is first 3 letters from your first name + first 3 letters from your last name + your login. All written in lower case.
            If your name is Peter Parker and your login pparker your password is: petparpparker
            Please change your password immediately using the link:
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}"></em>
        </p>
    </body>
</html>
