<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="car">
            <h2><span jhiTranslate="cpdaimlerApp.car.detail.title">Car</span> {{car.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpdaimlerApp.car.model">Model</span></dt>
                <dd>
                    <span>{{car.model}}</span>
                </dd>
                <dt><span jhiTranslate="cpdaimlerApp.car.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'cpdaimlerApp.CARSTATUS.' + car.status}}">{{car.status}}</span>
                </dd>
                <dt><span jhiTranslate="cpdaimlerApp.car.licence">Licence</span></dt>
                <dd>
                    <div *ngIf="car.licence">
                        <a [routerLink]="['/car-licence', car.licence?.id, 'view']">{{car.licence?.id}}</a>
                    </div>
                </dd>
            </dl>
            <h2>Open Issues</h2>
            <div class="table-responsive" *ngIf="carIssues">
                <table class="table table-striped">
                    <thead>
                    <tr>
                                <th>Description</th>
                                <th>Part</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let carIssue of carIssues ;trackBy: trackId">
                    <td>{{carIssue.description}}</td>
                    <td>{{carIssue.part}}</td>
                    </tr>    
                </table> 
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/car', car.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>



    </div>
</div>
