<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="carLicence">
            <h2><span jhiTranslate="cpdaimlerApp.carLicence.detail.title">Car Licence</span> {{carLicence.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpdaimlerApp.carLicence.carLicence">Car Licence</span></dt>
                <dd>
                    <span jhiTranslate="{{'cpdaimlerApp.LICENCE.' + carLicence.carLicence}}">{{carLicence.carLicence}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/car-licence', carLicence.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
